@font-face {
	font-family: 'Gotham';
	src: url('/public/fonts/Gotham-Book.eot');
	src: url('/public/fonts/Gotham-Book.eot?#iefix') format('embedded-opentype'), url('/public/fonts/Gotham-Book.woff') format('woff'), url('/public/fonts/Gotham-Book.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-2212;
}
@font-face {
	font-family: 'Gotham';
	src: url('/public/fonts/Gotham-Medium.eot');
	src: url('/public/fonts/Gotham-Medium.eot?#iefix') format('embedded-opentype'), url('/public/fonts/Gotham-Medium.woff') format('woff'), url('/public/fonts/Gotham-Medium.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-2212;
}
body,
button,
input,
select,
textarea {
	font: normal 18px/1.5em 'Gotham', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
html,
body,
.container {
	width: 100%;
	height: 100%;
}
html {
	overflow: hidden;
}
body {
	position: relative;
	overflow: auto;
	background: #1799B9;
	color: #fff;
}
.container {
	max-width: 650px;
	margin: 0 auto;
	padding: 80px 30px 0;
	text-align: center;
}
h1 {
	font-size: 2em;
	line-height: 1.2em;
	margin-bottom: 40px;
}
h1 img {
	max-width: 100%;
	width: 300px;
}
h2 {
	font-size: 1.5em;
	line-height: 1.2em;
	margin-bottom: 20px;
}
small {
	font-size: 0.8em;
	line-height: 1.5em;
}
.cta {
	padding-top: 40px;
	padding-bottom: 20px;
}
.button {
	display: inline-block;
	padding: 10px 40px;
	margin-bottom: 30px;
	color: #1799B9;
	background: #fff;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: bold;
	transition: opacity 200ms;
}
.button:hover {
	opacity: 0.65;
}
.iphone {
	margin-top: 40px;
}
.app {
	margin-top: 20px;
	list-style-type: none;
}
.app li {
	display: inline-block;
}
@media all and (max-width: 500px) {
	.container {
		text-align: left;
	}
	.cta {
		text-align: center;
	}
	.cta .button {
		width: 100%;
		padding-left: 0;
		padding-right: 0;
	}
}
@media all and (max-width: 500px) and (min-height: 550px) {
	.cta {
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		padding-left: 30px;
		padding-right: 30px;
	}
}