{{set . "title" "MyPack Direct - Ett samarbete mellan Postnord och urb-it"}}
{{template "header.html" .}}

<div class="container">
  <h1><img src="/public/img/postnord-2x.png" alt="Postnord" /></h1>
  {{if and (eq .action "Thankyou") .success}}
  <h2>Tack {{.name}}!</h2>
  <p>Ditt paket är nu på väg till <strong>{{.address}}</strong> och kommer fram <strong>{{if eq .deliveryType "Onehour"}}inom en timme{{else}}{{.deliveryTime}}{{end}}</strong>.</p>

  <p class="iphone"><img alt="" src="/public/img/iphoneimg.png" /></p>

  <ul class="app">
    <li><a target="_blank" href="https://itunes.apple.com/se/app/urb-it-1-hour/id945691318?mt=8"><img alt="App Store" src="/public/img/appstore_bt.png" /></a></li>
    <li><a target="_blank" href="https://play.google.com/store/apps/details?id=fuidama.urb_it"><img alt="Google Play" src="/public/img/googleplay_bt.png" /></a></li>
  </ul>

  <p><small>Ladda ner appen så kan du följa paketet från start till slut.</small></p>
  {{else if eq .action "Error"}}
  <h2>Något gick fel!</h2>
  <p>Försök igen senare eller kontakta urb-it support. <i>Felkod: {{.errorCode}}</i></p>
  {{else}}
  <h2>Genom PostNords samarbete med urb-it kan du få ditt paket dit du vill, när du vill</h2>
  <p>urb-it hämtar ditt paket från utlämningsstället och överlämnar det personligen.</p>

  {{if .checkoutURL}}
  <div class="cta">
    <p><a id="button" class="button" href="{{.checkoutURL}}" rel="nofollow">Beställ hämtning</a></p>
  </div>
  {{end}}
  {{end}}

  <script>
    ga('send', 'event', '{{.environment}}', '{{.action}}', '{{.servicePoint}}');
  </script>
</div>
<script>
  (function(d) {
    var btn = d.getElementById('button');

    if(!btn) return;

    btn.onclick = function() {
      ga('send', 'event', '{{.environment}}', 'ButtonClick', '{{.servicePoint}}');
    };
  })(document);
</script>

{{template "footer.html" .}}
